@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-fundo: #060a1c;         
    --cor-texto: #E4E6EB;         
    --cor-titulo: #00D1FF;        
    --cor-card-bg: #1A1C29;      
    --cor-card-p: #B0B3C0;
    --cor-card-sombra: #00D1FF; 
    --cor-fundo-icon: #E4E6EB;   
    --cor--cabecalho: #1A1C29CC;   
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    min-height: 100vh;
    width: 100%;
}

body.day {
    --cor-fundo: #e6e7e9;
    --cor-texto: #0F111A;
    --cor-card-bg: #FFFFFF;
    --cor-card-p: #3A3D4D;
    --cor-card-sombra: #00D1FF;
    --cor-fundo-icon: #0F111A;
    --cor--cabecalho: #FFFFFFCC;
}

/* PRELOADER */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.5s ease;
}

#preloader.show {
  opacity: 1;
  visibility: visible;
}

#preloader.hidden {
  opacity: 0;
  pointer-events: none;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #ccc;
  border-top: 6px solid #00D1FF;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

/* CABEÇALHO */

.cabecalho {
    display: flex;
    justify-content: center;
    background-color: var(--cor-card-bg);
    align-items: center;
    flex-direction: row;
    height: 8vh;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1;
    transition: all 0.5s ease;
}

.cabecalho.scroll {
    height: 6vh;
    background-color: var(--cor--cabecalho);
    backdrop-filter: blur(10px);
}

.cabecalho__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.cabecalho img {
    width: 70px;
    transition: all 1s ease;
}

.cabecalho img:hover {
    transform: rotate(360deg);
}

.cabecalho__info__botoes {
    display: flex;
    gap: 1rem;
}

.botoes__cabecalho {
    display: flex;
    color: var(--cor-texto);
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: transparent;
    border-radius: 1rem;
    font-size: 1.2rem;
    gap: 0.4rem;
    align-items: center;
    transition: all 0.5s ease;
    align-content: center;
}

.botoes__cabecalho:hover {
    background-color: #00D1FF;
    transform: scale(1.1);
}

.cabecalho__func {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.cabecalho__btn__func {
  width: 38px;
  height: 38px;            
  border-radius: 2rem;
  cursor: pointer;
  border: none;
  text-align: center;
  font-size: 1.4rem;
  transition: all 0.5s ease;
  background-color: var(--cor-fundo-icon);
  color: var(--cor-fundo);
}

.cabecalho__btn__func:hover {
    background-color: #00D1FF;
    transform: scale(1.1);
}

.hamburguer {
  display: none; 
  font-size: 1.8rem;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--cor-texto);
}

/* MAIN */

.conteudo {
    display: flex;
    flex-direction: column;
}

.paginaContato {
    display: flex;
    width: 100%;
}

.entreEmContato {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4%;
    min-width: 70%;
    max-width: 70%;
    border: 2px solid var(--cor-titulo);
    border-radius: 2rem;
    background: linear-gradient(135deg, var(--cor-card-bg), rgba(0, 209, 255, 0.1));
    margin-top: 13%;
    margin-left: 15%;
}

.entreEmContato i {
    padding: 2rem;
    border-radius: 50%;
    font-size: 2.5rem;
    background: rgba(0, 209, 255, 0.1);
    margin-left: 2rem;
    color: var(--cor-titulo);
    animation: pulse 2s ease-in-out infinite alternate;
}

@keyframes pulse {
    to {
        transform: scale(1.1);
    }
}

.entreEmContato__texto {
    display: flex;
    flex-direction: column;
    margin: 3rem 0 3rem 0;
    max-width: 100%;
    height: auto;
}

.entreEmContato__texto h2 {
    color: var(--cor-titulo);
    font-size: 2.5rem;
    max-width: 100%;
}

.entreEmContato__texto p {
    color: var(--cor-card-p);
    font-size: 1.2rem;
    width: 95%;
    margin-bottom: 1rem;
}

.entreEmContato__texto a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--cor-titulo);
    border: 2px solid var(--cor-titulo);
    border-radius: 2rem;
    text-align: center;
    padding: 1rem;
    height: 1rem;
    max-width: 80%;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: rgba(0, 209, 255, 0.1);
    transition: all 0.5s ease;
}

.entreEmContato__texto a:hover {
    background-color: var(--cor-titulo);
    color: var(--cor-fundo);
    transform: scale(1.05);
}

.respondoRapido {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-card-bg);
    width: 70%;
    margin-top: 7%;
    margin-left: 15%;
    border-radius: 1rem;
}

.respondoRapido__texto {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    gap: 1rem;
}

.respondoRapido h2 {
    color: var(--cor-titulo);
    font-size: 1.5rem;
}

.respondoRapido p {
    color: var(--cor-card-p);
    font-size: 1.1rem;
}

.respondoRapido__sub {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.respondoRapido__sub i {
    color: var(--cor-titulo);
}

.respondoRapido__sub p {
    color: var(--cor-titulo);
    font-weight: 600;
}

.conexoes {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-top: 5%;
}

.conexoes p {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    color: var(--cor-card-p);
    font-size: 1.2rem;
}

.conexoes__icons {
    display: flex;
    margin: 1rem 0;
    gap: 1rem;
}

.conexoes__icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--cor-titulo);
    background-color: var(--cor-card-bg);
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.conexoes__icons a:hover {
    background-color: var(--cor-titulo);
    color: var(--cor-texto);
    transform: scale(1.1);
}

/* PAINEL */

.painel {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--cor-card-bg);
    margin: 6% 5% 5% 0;
    border-radius: 2rem;
    padding: 0 5%;
}

.painel h2 {
    color: var(--cor-titulo);
    font-size: 2.3rem;
    margin: 1rem 0 1rem 0;
}

.painel p {
    text-align: center;
    color: var(--cor-card-p);
    margin-bottom: 2rem;
}

.grade__input {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    gap: 2rem;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.input p {
    color: var(--cor-texto);
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.input input,
textarea {
    width: 100%;
    padding: 1rem;
    background: var(--cor-fundo);
    border: 2px solid transparent;
    border-radius: 1rem;
    color: var(--cor-texto);
    font-size: 1rem;
}

.input textarea {
    resize: vertical;
    min-height: 100px;
}

.input input:focus,
.input textarea:focus {
    outline: none;
    border-color: var(--cor-titulo);
}

.painel button {
    background: linear-gradient(135deg, var(--cor-fundo), var(--cor-titulo));
    padding: 1rem;
    border-radius: 2rem;
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--cor-texto);
    border: 2px solid transparent;
    background-clip: padding-box;
    transition: all 0.5s ease;
}

.painel button:hover {
    transform: translateY(-5px) scale(1.1);
    cursor: pointer;

}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;    
    background-color: var(--cor-card-bg);
    color: var(--cor-texto);
}

.enquadra {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.footer__sobre {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    border-bottom: 1px solid var(--cor-texto);
}

.footer__sobre__info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 2rem 0;
}

.footer__sobre__info h3 {
    font-size: 1.5rem;
    color: var(--cor-titulo);
    margin-bottom: 0.8rem;
}

.footer__sobre__info p {
    width: 65%;
}
.footer__sobre__redes {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.footer__sobre__redes i {
    padding: 0.6rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    text-decoration: none;
    background-color: var(--cor-texto);
    color: var(--cor-card-bg);
    transition: all 0.5s ease;
}

.footer__sobre__redes i:hover {
    transform: scale(1.15);
}


.footer__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 2rem 0;
}

.footer__links__nav nav{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.nav__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    gap: 0.5rem;
    color: var(--cor-texto);
    transition: all 0.3s ease;
}

.nav__item:hover {
    color: var(--cor-titulo);
    transform: scale(1.05);
}

.footer__links__contato {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.footer__links__contato__item {
    display: flex;
    align-items: center;
    display: flex;
    gap: 0.5rem;
}

.email {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: var(--cor-texto);
    transition: all 0.3s ease;
}

.email:hover {
    transform: scale(1.05);
    color: var(--cor-titulo);
}

.footer__final {
    display: flex;
    justify-content: space-between;
    width: 95%;
    border-top: 1px solid var(--cor-texto);
    padding-top: 2rem;
    margin-bottom: 2rem;
}

.footer__final__links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.footer__final__links a {
    text-decoration: none;
    color: var(--cor-texto);
}

.footer__final__links a:hover {
    color: #00A3FF;
    transition: all 0.5s ease;
}

@media (max-width: 1000px) {

    /* MAIN */

    .paginaContato {
        flex-direction: column-reverse;
        align-items: center;
    }
    .conteudo {
        flex-direction: column;
        max-width: 100%;
        align-items: center;
        justify-content: center;
    }

    .entreEmContato {
        min-width: 80%;
        margin: 4rem 0;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .entreEmContato i {
        margin: 2rem 0 0 0;
    }

    .entreEmContato__texto p {
        align-self: center;
    }

    .entreEmContato__texto a {
        align-self: center;
        text-size-adjust: auto;

    }

    .respondoRapido {
        margin: 0;
        width: 80%;
    }

    .respondoRapido__texto {
        padding: 2rem;
        text-align: center;
        margin: 0;
    }

    .respondoRapido__texto h2 {
        font-size: 2rem;
    }

    .respondoRapido__texto p {
        font-size: 1.3rem;
    }

    .respondoRapido__sub {
        font-size: 1rem;
        align-self: center;
    }

    .respondoRapido__sub p {
        font-size: 1rem;
    }

    .conexoes {
        margin: 3rem 0 2rem 0;
        align-items: center;
        gap: 1rem;
    }

    .conexoes p {
        font-size: 1.3rem;
    }

    .conexoes__icons a {
        font-size: 1.7rem;
    }

    .painel {
        margin: 7rem 0 0 0;
        width: 80%;
    }

    .input input,
    textarea {
        width: 90%;
    }

    /* HEADER */

    .hamburguer {
        display: block;
    }
    
    .cabecalho__info__botoes {
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;
        top: 8.5vh;
        right: 1vh;
        background: var(--cor-card-bg);
        position: absolute;
        border-radius: 1rem;
        padding: 1rem;
    }

    .cabecalho__info__botoes.active {
        display: flex; 
    }

    /* FOOTER */

    .footer__sobre__info p{
        width: 80%;
    }

    .footer__sobre__redes {
        flex-direction: column;
        margin-right: 3rem;
    }

    .footer__links__contato {
        flex-direction: column;
    }

    .footer__links__nav nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__links__contato__item p {
        max-width: 90%;
    }

    .footer__final {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        text-align: center;
    }

    .footer__final p {
        text-align: center;
    }

    .footer__links {
        flex-direction: column;
        gap: 2rem;
    }   
}