@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-fundo: black;
    --cor-texto: white;
    --cor-card-bg: #1f1f1f;
    --cor-card-p: #ccc;
    --cor-card-sombra: #FF6F61;
    --cor-fundo-icon: white;
}

* {
    padding: 0;
    margin: 0;
    font-family: Poppins;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.5s ease;
}

#preloader.show {
  opacity: 1;
  visibility: visible;
}

#preloader.hidden {
  opacity: 0;
  pointer-events: none;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #ccc;
  border-top: 6px solid #FF6F61;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

/* CABEÇALHO */

.cabecalho {
    display: flex;
    justify-content: center;
    background-color: var(--cor-card-bg);
    align-items: center;
    flex-direction: row;
    height: 8vh;
    width: 100%;
    position: fixed;
    z-index: 1;
    transition: all 0.5s ease;
}

.cabecalho.scroll {
    height: 6vh;
    background-color: rgba(0, 0, 0, 0.7); 
    backdrop-filter: blur(10px);
}

.cabecalho__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%; 
}

.cabecalho img {
    width: 70px;
    transition: all 1s ease;
}

.cabecalho img:hover {
    transform: scale(1.3) rotate(360deg);
}

.cabecalho__info__botoes {
    display: flex;
    gap: 1rem;
}

.botoes__cabecalho {
    display: flex;
    color: var(--cor-texto);
    text-decoration: none;
    padding: 0.90rem 1.5rem;
    background: transparent;
    border-radius: 1rem;
    font-size: 1.2rem;
    gap: 0.4rem;
    align-items: center;
    transition: all 0.5s ease;
    align-content: center;
}
.botoes__cabecalho:hover {
    background-color: #FF6F61;
    transform: scale(1.1);
}

.cabecalho__func {
    display: flex;
    gap: 1rem;
}

.cabecalho__btn__func {
  width: 45px;
  height: 45px;            
  border-radius: 2rem;
  cursor: pointer;
  border: none;
  text-align: center;
  font-size: 1.2rem;
  transition: all 0.5s ease;
  background-color: var(--cor-fundo-icon);
  color: var(--cor-fundo);
}

.cabecalho__btn__func:hover {
    background-color: #FF6F61;
    transform: scale(1.1);
}

.hamburguer {
  display: none; /* desktop não mostra */
  font-size: 1.8rem;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--cor-texto);
}

/* BODY */

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    transition: all 0.5s ease;
}

body.day {
    --cor-fundo: white;
    --cor-texto: black;
    --cor-card-bg: #dfdfdf;
    --cor-card-p: #000;
    --cor-card-sombra: #FF6F61;
    --cor-fundo-icon: black;
}

.subtitulo {
    font-size: 1.2rem;
    color: #ccc;
    text-align: center;
    margin-bottom: 4rem;
    font-weight: 300;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease;
    max-width: 90%;
}

/* APRESENTAÇAO */

.apresentacao {
    display: flex;
    background: linear-gradient(135deg, #0097A8, #FF6F61);
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    overflow: hidden;
}

.apresentacao h1 {
    background: linear-gradient(90deg,#ffd700,#fff); 
    background-clip: text;
    color: transparent;
    font-weight: 700;
    font-size: 5.5rem;
    text-align: center;
    transform: translateY(50px);
    opacity: 0;
    animation: slideDown 1s forwards;
    animation-delay: 0.6s;
}

@keyframes slideDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.apresentacao p {
    font-size: 1.2rem;
    color: white;
    width: 35%;
    text-align: center;
    transform: translateY(50px);
    opacity: 0;
    animation: slideDown 1s forwards;
    animation-delay: 0.9s;
}

.apresentacao a {
    color: #FF6F61;
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 1rem 1.5rem;
    background-color: white;
    border-radius: 2rem;
    transform: translateY(50px);
    opacity: 0;
    animation: slideDown 1s forwards;
    animation-delay: 1.2s;
    transition: all 0.5s ease;
}

.apresentacao a:hover {
    background-color: #FF6F61;
    color: white;
}

/* PROJETOS */

.projetos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
}

.projetos h2 {
    color: #FF6F61;
    font-size: 3rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
} 

.cardS {
    display: flex;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    gap: 4%;
}

.card {
    background: var(--cor-card-bg);
    border-radius: 2rem;
    overflow: hidden;
    width: 23%;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.5s, box-shadow 0.5s;
}

.card:hover {
    transform: translateY(-10px) scale(1.08);
    box-shadow: 0 0 20px var(--cor-card-sombra);

}

.card img {
    width: 100%;
    filter: brightness(0.90);
}

.card img:hover {
    filter: brightness(1);
}

.card__info {
    margin-left: 0.7rem;
}

.card:hover .card__info {
    opacity: 1;
}

.card h3 {
    margin: 0.3rem 0;
    font-size: 1.5rem;
    color: #FF6F61;
    min-width: 10%;
}

.card p {
    font-size: 1rem;
    color: var(--cor-card-p);
    margin-bottom: 1rem;
    max-width: 95%;
}

.animacao {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s linear;
}

.animacao.aparecer {
    opacity: 1;
    transform: translateY(0);
}

.servicos h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-size: 3rem;
    color: #FF6F61;
}

.servicos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
    max-width: 100%;
}

.servicos__grade {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.servicos__grade__card {
    display: flex;
    background: var(--cor-card-bg);
    border-radius: 1rem;
    overflow: hidden;
    width: 28%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15rem;
    text-align: center;
    gap: 1rem;
    transition: all 0.5s ease;
}

.fa-rocket {
    color: var(--cor-card-bg);
    font-size: 2.5rem;
    background-color: var(--cor-fundo-icon);
    padding: 0.8rem;
    border-radius: 50%;
}

.fa-laptop-code {
    color: var(--cor-card-bg);
    font-size: 2.5rem;
    background-color: var(--cor-fundo-icon);
    padding: 0.8rem 0.6rem;
    border-radius: 50%;
}

.fa-screwdriver-wrench {
    color: var(--cor-card-bg);
    font-size: 2.5rem;
    background-color: var(--cor-fundo-icon);
    padding: 0.8rem;
    border-radius: 50%;
}

.servicos__grade__card h3{
    color: #FF6F61;
    font-size: 1.5rem;
}

.servicos__grade__card p {
    font-size: 1rem;
    color: var(--cor-card-p);
    width: 90%;
}




@media (max-width: 800px) {
    .hamburguer {
        display: block;
    }
    
    .cabecalho__info__botoes {
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;
        top: 8.5vh;
        right: 1vh;
        background: var(--cor-card-bg);
        position: absolute;
        border-radius: 1rem;
        padding: 1rem;
    }

    .cabecalho__info__botoes.active {
        display: flex; 
    }
    
    .apresentacao h1 {
        font-size: 4rem;
        max-width: 95%;
    }

    .apresentacao p {
        width: 80%;
    }

    .cardS {
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }

    .card {
        width: 80%;
    }

    .servicos__grade {
        flex-direction: column;
    }

    .servicos__grade__card {
        width: 80%;
    }

    .servicos__grade__card {
        width: 80%;
    }

    .servicos__grade__card p {
        max-width: 80%;
    }

    .cabecalho {
        height: auto;
        padding: 0.5rem 0;
        filter: opacity(1);
    }

    .cabecalho.scroll {
        height: 5vh;
    }

    .cabecalho img {
        width: 50px;
    }

    .cabecalho__info {
        flex-direction: row;
        align-items: center;
        text-align: center;
    }

    .botoes__cabecalho {
        font-size: 1.1rem;
    }

    .cabecalho__btn__func {
        width: 40px;
        height: 40px;  
        font-size: 1.1rem;
    }

}