@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: white;
    font-family: Poppins;
}

.apresentacao {
    display: flex;
    background: linear-gradient(135deg, #0097A8, #FF6F61);
    height: 100dvh;
    width: 100%;
    font-family: Poppins;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    overflow: hidden;
    margin-bottom: 5rem;
}

.apresentacao h1 {
    background: linear-gradient(90deg,#ffd700,#fff); 
    background-clip: text;
    color: transparent;
    font-weight: 700;
    font-size: 5rem;
    text-align: center;
    transform: translateY(50px);
    opacity: 0;
    animation: slideDown 1s forwards;
}

@keyframes slideDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.apresentacao p {
    font-size: 1.2rem;
    color: white;
    width: 35%;
    text-align: center;
    transform: translateY(50px);
    opacity: 0;
    animation: slideDown 1s forwards;
    animation-delay: 0.3s;
}

.apresentacao a {
    color: #FF6F61;
    text-align: center;
    text-decoration: none;
    padding: 1rem 1.5rem;
    background-color: white;
    border-radius: 2rem;
    transform: translateY(50px);
    opacity: 0;
    animation: slideDown 1s forwards;
    animation-delay: 0.6s;
}

.apresentacao a:hover {
    background-color: #FF6F61;
    color: white;
}

.sobreMim {
    display: flex;
    height: 50dvh;
    justify-content: center;
    margin-bottom: 7rem;
}

.sobreMim h2 {
    display: flex;
    align-items: center;
    color: #FF6F61;
    font-size: 2.5rem;
    text-align: center;
}

.sobreMim__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    line-height: 1.6;
    max-width: 50%;
}

.sobreMim img {
    max-width: 35%;
    box-shadow: 0 0 30px #FF6F61;
    border-radius: 1.5rem;
}

.sobreMim__info p {
    width: 75%;
    font-size: 1.1rem;
}

.projetos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projetos h2 {
    color: #FF6F61;
    font-size: 2.5rem;
    margin-bottom: 2rem;
} 

.cardS {
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding: 2rem;
}

.card {
    background: #1a1a1a;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 20px #FF6F61;
    width: 20%;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px) scale(1.08);
    box-shadow: 0 0 20px #0097A8;
}

.card img {
    width: 100%;
    display: block;
    filter: brightness(0.85);
    transition: filter 0.3s;
}

.card img:hover {
    filter: brightness(1);
}

.card__info {
    margin-left: 0.7rem;
}

.card:hover .card__info {
    opacity: 1;
}

.card h3 {
    margin-bottom: 0.3rem;
    font-size: 1.2rem;
    color: #FF6F61;
}

.card p {
    font-size: 0.95rem;
    color: #ccc;
    margin-bottom: 0.5rem;
}

.animacao {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s linear;
}

.animacao.aparecer {
    opacity: 1;
    transform: translateY(0);
}